@import '../../common/button'
@import '../../common/loading/rotation'
@import '../../common/loading/circle'
@import '../../common/loading/full-before'

.ui-loading-02
	button()
	
	&:before
		full-before()
		transform scaleY(0)
		transition transform .3s ease
	
	&:after
		circle()
		opacity 0
		transition opacity .2s .1s ease
	
	&.is-active
		&:before
			transform scaleY(1)
		
		&:after
			animation rotation .5s infinite linear
			opacity 1