@import '../../common/button'
@import '../../common/loading/rotation'
@import '../../common/loading/circle'
@import '../../common/loading/full-before'

.ui-loading-03
	button()
	
	&:before
		full-before()
		transform translateX(-100%)
		opacity 0
		transition opacity .3s ease, transform .1s .3s
	
	&:after
		circle()
		opacity 0
		transition opacity .2s .1s ease
	
	&.is-active
		&:before
			transition opacity .3s ease
			transform translateX(0)
			opacity 1
		
		&:after
			animation rotation .5s infinite linear
			opacity 1