@import '../variables'

hamburger-02()
	width 30px
	height 26px
	border none
	position relative
	background linear-gradient(to bottom, $default-color 50%, transparent 50%)
	background-size 100% 40%
	background-repeat-x no-repeat
	background-position 0 0
	cursor pointer
	
	&:before,
	&:after
		height 20%
		width 0
		position absolute
		background-color $default-color
		content ''
		transform rotate(0)
		top 40%
		transition transform .3s ease, width .3s .2s ease