//- Includes
include ~modules/Head/index.pug
include ~modules/Header/index.pug
include ~modules/Footer/index.pug
include ~modules/BoxUI/index.pug
include ~modules/Gradient/index.pug

- const { UIs } = require('./data.js')

head
	+Head()
body
	+Header()
	+Gradient()
	main.main
		div.container
			for group in UIs
				div.category
					h2.category__title=group.category
					div.category__list
						for ui, index in group.items
							+BoxUI(ui.name, ui.markup, index)
	+Footer()