@import '../variables'

button()
	padding 15px 25px
	color $default-color
	cursor pointer
	border solid 1px $default-color
	font-size 16px
	position relative
	z-index 1
	overflow hidden
	transition color .3s ease