@import '../../common/button'
@import '../../common/toggle/full-before'

.ui-toggle-14
	button()
	
	&:before
		full-before()
		right -1px
		bottom 0
		width calc(100% + 1px)
		transform-origin bottom right
		transform rotate(90deg)
	
	&.is-active
		color #fff

		&:before
			transform rotate(0)
