@import '../../common/button'
@import '../../common/toggle/full-before'

.ui-toggle-07
	button()
	
	&:before
		full-before()
		left 0
		top 0
		transform-origin top left
		transform rotate(-90deg)
	
	&.is-active
		color #fff

		&:before
			transform rotate(0)
