// General
// ==========================================================================
html,
body
	font-family $font-title
	-webkit-font-smoothing antialiased
	
	*
		box-sizing border-box
	
html:not(.fonts-loaded) *
	font-family Helvetica, Calibri, Ubuntu, sans-serif

