// Grid
$container = 1280px

// Typography
$font-title = Maven Pro, sans-serif
$font-title--regular = 400
$font-title--medium = 500

// Z-index
$z-index--gradient = -2
$z-index--gradient-overlay = -1
$z-index--header = 10
$z-index--main = 1

// Colors
$gradient-1 = #89216B
$gradient-2 = #DA4453
$gold 			= #f1c40f