@import '../../common/hamburger/default'
@import '../../common/variables'

.ui-hamburger-06
	hamburger-default()
	
	&:before
		content ''
		position absolute
		left 0
		top 0
		height 100%
		width 100%
		background linear-gradient(to bottom, $default-color 50%, transparent 50%)
		background-size 100% 40%
		background-repeat-x no-repeat
		background-position 0 0
		transition opacity .3s ease, transform .3s ease
	
	&:after
		width 80%
		height 90%
		top 5%
		left 10%
		content ''
		position absolute
		background linear-gradient(to right, transparent 40%, $default-color 40%, $default-color 60%, transparent 60%), linear-gradient(to bottom, transparent 40%, $default-color 40%, $default-color 60%, transparent 60%)
		transform rotate(45deg) scale(0)
		opacity 0
		transition opacity .3s ease, transform .3s ease

	&.is-active
		
		&:before
			opacity 0
			transform scale(0)
		
		&:after
			transform rotate(45deg) scale(1)
			opacity 1
			transition-delay .3s ease
			
