@import '../../common/arrow/01'

.ui-arrow-01
	half-arrow-down()
	
	&:before,
	&:after
		transition transform .34s ease
	
	&.is-active
		
		&:before
			transform rotate(45deg)
		
		&:after
			transform rotate(-45deg)