circle()
	content ''
	border solid 2px #fff
	border-left-color transparent
	width 16px
	height @width
	position absolute
	left 50%
	top 50%
	border-radius 50%
	margin-top (-(@width/2))
	margin-left (-(@width/2))