*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body:before {
	content: 'Click on any place in the page to see it working! ';
	position: absolute;
	right: 5px;
	top: 5px;
	color: #aaa;
	font-size: 16px;
	font-family: Arial;
}