@import '../../common/button'
@import '../../common/toggle/full-before'

.ui-toggle-12
	button()
	
	&:before
		full-before()
		right 0
		top -1px
		height calc(100% + 1px)
		transform-origin top right
		transform rotate(90deg)
	
	&.is-active
		color #fff

		&:before
			transform rotate(0)
