mixin Header()
	header.header
		.container
			h1.header__title <span>ui</span> interactions
			p.header__label Open source <span> click and copy</span> user interface interactions.
			p.header__label Because <span>we <span class="heart">♥</span></span> UI... and CSS!

			div.header__repo
				iframe(src="https://ghbtns.com/github-btn.html?user=twbs&repo=ui-interactions&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px")